/.idea/
/BetterFarming/.gradle/
/BetterFarming/build/
/BetterFarming/gradle/
/BetterFarming/run/
/EasierShulkers/.gradle/
/EasierShulkers/gradle/
/EasierShulkers/build/
/EasierShulkers/run/
/MagicMirror/.gradle/
/MagicMirror/build/
/MagicMirror/gradle/
